.list1__body {
	border-style: groove;
	border-width: 5px;
	margin-right: 1300px;
}

.list2__body {
	background-color: white;
	color: black;
	border-style: groove;
	border-width: 6px;
	margin-right: 550px;
	margin-top: 10px;
	padding: 1px;
}



.num__list {
	color: green;

}

.color__list {
	color: black;
}


.list3__item {
	border-style: inset;
	border: 5px 0px 2px 5px;
	border-color: rgb(205, 203, 203);
	width: 400px;
	height: 600px;
}

.list3__item ol {

	padding-left: 55px;
}

.list3__item ol li {
	padding-left: 5px;
}

.sub-list {

	list-style-type: none;
	content: \2794;
}


#l1-bl1 {
	background-color: chartreuse;
	display: inline-block;
	border-style: groove;
	
}

#l2-bl1,
#l2-bl2 {
	background-color: chartreuse;
	border-style: groove;
	display: inline-block;
}

footer {
	font-size: 20px;
	text-align: center;
}

#l3-bl1,
#l3-bl2 {
	background-color: chartreuse;
	border-style: groove;
	display: inline-block;


}